head, body{
	font-family: 'Montserrat', sans-serif;	
	margin: 0;
	
}
header{
	width: 100%;
	height: auto;
	margin:0;	
}
body{
	margin-top: 0;
	background-image: url(../assets/images/hero.gif);
	background-size: 100% auto;	
	
	background-repeat: no-repeat;
}
header img{
	width: 80px;
	height: auto;
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;
}
header nav {
	float: right;	
	padding-top: 10px;
}
li{
	display: inline-block;
	list-style: none;
	padding: 10px;	
}
nav a{
	text-decoration: none;
	color: #fff;
	padding: 25px;

}
.boton{
	background-color: transparent;
	color: #fff;
	width: 60px;
	height: 30px;
	font-size: 15px;
	border-radius: 8px;
}
.over{
	overflow: auto;
	margin:0;
	height: auto;
	width: 100%;
}
aside{
	width: 450px;
	height: 300px;
	background-color: #fff;
	float: right;
	margin-top: 40px;
	margin-bottom: 130px;
	padding: 5px;
}
aside h1{
     font-size: 35px;
     color: #352384;
     padding-left: 50px;
     padding-top: 2px;
     margin-top: 5px;
     padding-bottom: 1px;
     font-size: 25px;
 }
aside p{
     font-size: 22px;
     color: #352384;
     padding-left: 50px;
     font-size: 10px;
}
aside h6{
	font-size: 12px;
	padding-bottom: 2px;
	color: #728099;
	border-bottom: 2px solid #728099;
	width:300px;
	margin-left: 50px;
}
#botons{
	width: 150px;
	height: 50px;
	font-size: 15px;
	background-color: #FF00BF;
	color: #fff;
	margin-left: 50px;
	border-radius: 5px;
}
aside a{
	color: #728099;
	font-size: 13px;
	padding-left: 10px;
}
aside span{
	color: #D230B2;
}
.aaa{
	font-size: 10px;
}
.info{
	margin:0;
	width: 100%;
	height: auto;
	overflow: auto;
	background: linear-gradient(#76278F, #2B1E66);
}

.tel{
	width: 400px;
	height: 390px;	
	margin:0;	
	color: #fff;
	align-content: center;	
	padding-left: 50px;	
	padding-top: 100px;
	display: inline-block;
}
.teldos{
	width: 50%;
	height: 390px;
	margin:0;
	float: right;
}
#fono{
	margin:0;
	width: 300px;
	padding-top: 30px;
	height: auto;
	float: right;
}
.tel h2{    
	font-size: 25px;
	font-weight: bold;
	margin:0;
}
.tel p{
	font-size: 10px;
	font-weight: bold;
	margin:0;
}
.videos{
	width: 100%;
	height: auto;
	overflow: auto;
	margin: 0;
}
#information{
	width: 300px;
	height: auto;
	color: #000;		
	float: left;
	margin: 0;
	padding-left: 30px;
}
#video1{
    padding-top: 10px;      
   float: right;    
}
#information h6{
	margin:0;
	font-size: 15px;
	padding-top: 0px;
	padding: 2px;
	font-weight: bold;

}
#video2{        
  float: left;

}
#information2{	
		float: right;
		padding-right: 30px;
}
#video3{

	float:right;
}
#information3{	
	float: left;
	padding-left: 30px;
	width: 200px;
}
footer{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 20px;
	background-color: #585757;
	color: #fff;
}
.data{
	display: inline-block;
	padding-left: 200px;
	padding-top: 10px;	

}

#imagenes1{
	width:100px;
	height: auto;
	float: right;
	padding-top: 50px;
}
#imagenes2{
	width: 100px;
	height: auto;
	float: right;
	padding: 50px;
	padding-right: 0;

}
#imagenes3{
	width: 100px;
	height: auto;
	float: right;
}
.iconns{
	display: block;
	margin:0;
	margin-left: 600px;
	padding: 0px;
	
}
.fa-facebook-official{
	width:30px;
	height: auto;
	padding: 10px;
}
.fa-instagram{
	width: 30px;
	height: auto;
	padding: 10px;
}
.fa-twitter-square{
	width:30px;
	height: auto;
	padding: 10px;
}